.card-title{
    font-size: 1rem;    
}
.card-date{
    font-size: 0.7rem;    
    margin-bottom: 0;
}
.card-text{
    font-size: 0.7rem;
    font-family: 'Roboto', sans-serif;
}
.middle-image{
    padding-left: 8px;
    padding-right: 8px;
}
.mx-0{
    
}
.LogOut{
    color: red;
}
.form-control{
    color: gray;
}